/* src/styles/GameBoard.css */

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f3e8ff;
}

.game-info {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  font-size: 1.5em;
  color: #6a0dad;
  display: flex;
  flex-direction: column;
}

.game-info h2{
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-grid {
  display: grid;
  width: 330px;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 50px;
  z-index: 2;
}

.card {
  perspective: 1000px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b39ddb;
  background-color: #d9b3ff;
  color: #4a148c;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.card:hover {
  background-color: #b39ddb;
  transform: scale(1.05);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.modal-overlay.active {
  display: flex;
}

.modal-content {
  background-color: #c0f5f6;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;

}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.modal-content input:focus {
  outline: none;
  border-color: #6a0dad;
}


.options-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.option-box {
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.option-box:hover {
  background-color: #f0f0f0;
  border-color: #888;
}

.option-box.selected {
  background-color: #d4eced;
  border-color: #2883a7;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5em;
  color: #333;
  cursor: pointer;
}

.character {
  margin-bottom: 0px;
  z-index: 1;
}
